---
import { logos } from 'virtual:starlight/user-images'
import config from 'virtual:starlight/user-config'

import type { Props } from '@astrojs/starlight/props'

const href = Astro.props.locale || '/'
---

<a {href}>
  {
    config.logo && logos.dark && (
      <>
        <img
          alt={config.logo.alt}
          src={logos.dark.src}
          width={logos.dark.width}
          height={logos.dark.height}
          data-theme={logos.dark ? 'dark' : 'light'}
        />
      </>
    )
  }
  {config.title}
</a>
